-
[{"updatedAt":"2026-01-24T08:09:24.006Z","createdAt":"2026-01-24T08:09:24.006Z","id":"Mesq6MkvF3skDrui","name":"Daily Morning Briefing","description":null,"active":false,"isArchived":false,"nodes":[{"name":"Schedule (9 AM)","parameters":{"triggerTimes":{"item":[{"hour":9,"mode":"everyDay"}]}},"position":[100,300],"type":"n8n-nodes-base.cron","typeVersion":1,"id":"f261f22c-2870-4e1c-a19b-ba5898770e79"},{"credentials":{"googleCalendarOAuth2Api":{"id":"1","name":"Google Calendar"}},"name":"Get Appointments","parameters":{"calendar":{"__rl":true,"mode":"list","value":"primary"},"operation":"getAll","options":{"timeMax":"={{ $today.end }}","timeMin":"={{ $today }}"}},"position":[300,300],"type":"n8n-nodes-base.googleCalendar","typeVersion":1,"id":"fd7c4089-7fb8-4af6-be49-666c9f7dd59f"},{"credentials":{"openAiApi":{"id":"1","name":"OpenAI Account"}},"name":"AI Summary","parameters":{"prompt":{"messages":[{"content":"Summarize my day based on these events: {{ JSON.stringify($json) }}","role":"user"}]},"resource":"chat"},"position":[500,300],"type":"n8n-nodes-base.openAi","typeVersion":1,"id":"440cd313-8772-4fba-90f1-13c1daf88a85"},{"credentials":{"telegramApi":{"id":"1","name":"Telegram"}},"name":"Send to Telegram","parameters":{"additionalFields":{"parseMode":"Markdown"},"chatId":"YOUR_CHAT_ID","text":"🌞 *Morning Briefing*\n\n{{ $json.message.content }}"},"position":[700,300],"type":"n8n-nodes-base.telegram","typeVersion":1,"id":"5f95c2b3-41a2-4ec0-b339-1b0f51387567"}],"connections":{"AI Summary":{"main":[[{"index":0,"node":"Send to Telegram","type":"main"}]]},"Get Appointments":{"main":[[{"index":0,"node":"AI Summary","type":"main"}]]},"Schedule (9 AM)":{"main":[[{"index":0,"node":"Get Appointments","type":"main"}]]}},"settings":null,"staticData":null,"meta":null,"pinData":null,"versionId":"f3cd3232-0952-43ce-ab4b-f5bf6c6f3d73","activeVersionId":null,"versionCounter":1,"triggerCount":0,"tags":[],"shared":[{"updatedAt":"2026-01-24T08:09:24.007Z","createdAt":"2026-01-24T08:09:24.007Z","role":"workflow:owner","workflowId":"Mesq6MkvF3skDrui","projectId":"C9hVGvL2eVLzJvBP","project":{"updatedAt":"2026-01-24T08:09:23.838Z","createdAt":"2026-01-24T08:09:23.838Z","id":"C9hVGvL2eVLzJvBP","name":"Unnamed Project","type":"personal","icon":null,"description":null,"creatorId":"03e10a21-f31b-4158-aaa8-490c06756f3e"}}]},{"updatedAt":"2026-01-24T08:09:24.815Z","createdAt":"2026-01-24T08:09:24.815Z","id":"flILnX6oMn6KbmCJ","name":"Urgent Email Alert","description":null,"active":false,"isArchived":false,"nodes":[{"credentials":{"gmailOAuth2":{"id":"1","name":"Gmail Account"}},"name":"Check Inbox","parameters":{"filters":{"labelIds":["INBOX"],"readStatus":"unread"},"pollTimes":{"item":[{"mode":"everyMinute"}]}},"position":[100,300],"type":"n8n-nodes-base.gmail","typeVersion":2,"id":"406105ef-65bd-4f50-b999-b5133db2dcd8"},{"name":"Is Urgent?","parameters":{"combineOperation":"any","conditions":{"string":[{"operation":"contains","value1":"={{ $json.snippet }}","value2":"urgent"},{"operation":"contains","value1":"={{ $json.subject }}","value2":"긴급"}]}},"position":[300,300],"type":"n8n-nodes-base.if","typeVersion":1,"id":"c437d1aa-acea-41ff-a037-04bbf124e61b"},{"credentials":{"telegramApi":{"id":"1","name":"Telegram"}},"name":"Notify Telegram","parameters":{"chatId":"YOUR_CHAT_ID","text":"🚨 *Urgent Email*\n\nFrom: {{ $json.from }}\nSubject: {{ $json.subject }}\nSnippet: {{ $json.snippet }}"},"position":[500,200],"type":"n8n-nodes-base.telegram","typeVersion":1,"id":"1f6f005d-32cd-4786-9ce9-68fdb974a46b"}],"connections":{"Check Inbox":{"main":[[{"index":0,"node":"Is Urgent?","type":"main"}]]},"Is Urgent?":{"main":[[{"index":0,"node":"Notify Telegram","type":"main"}]]}},"settings":null,"staticData":null,"meta":null,"pinData":null,"versionId":"a21601b0-c308-478b-9904-c4bc93aca402","activeVersionId":null,"versionCounter":1,"triggerCount":0,"tags":[],"shared":[{"updatedAt":"2026-01-24T08:09:24.818Z","createdAt":"2026-01-24T08:09:24.818Z","role":"workflow:owner","workflowId":"flILnX6oMn6KbmCJ","projectId":"C9hVGvL2eVLzJvBP","project":{"updatedAt":"2026-01-24T08:09:23.838Z","createdAt":"2026-01-24T08:09:23.838Z","id":"C9hVGvL2eVLzJvBP","name":"Unnamed Project","type":"personal","icon":null,"description":null,"creatorId":"03e10a21-f31b-4158-aaa8-490c06756f3e"}}]},{"updatedAt":"2026-01-24T08:09:25.155Z","createdAt":"2026-01-24T08:09:25.155Z","id":"ypWLasTJ8EuTWHkI","name":"Automate Repetitive Click and Keypress Sequence","description":null,"active":false,"isArchived":false,"nodes":[{"name":"MouseClick","parameters":{"clicksUi":{"clicksValues":[{"x":1175.4296875,"y":662.51171875},{"x":846.83203125,"y":964.7109375},{"x":1169.5703125,"y":695.26953125},{"x":820.9609375,"y":941.8359375}]}},"position":[450,300],"type":"n8n-nodes-base.mouseClick","typeVersion":1,"id":"46cbc223-45f5-4aeb-8b97-71d45d3e8877"},{"name":"KeyboardInput","parameters":{"keypressSequence":[{"keycode":126,"times":2},{"keycode":36,"times":2},{"keycode":126,"times":2},{"keycode":36,"times":2}]},"position":[650,300],"type":"n8n-nodes-base.keyboardInput","typeVersion":1,"id":"7dc6306c-3b05-4bfd-8ce2-5b2349346784"}],"connections":{"MouseClick":{"main":[[{"index":0,"node":"KeyboardInput","type":"main"}]]}},"settings":null,"staticData":null,"meta":null,"pinData":null,"versionId":"da9786a0-b3a0-4a1d-81be-dcd972c84dc6","activeVersionId":null,"versionCounter":1,"triggerCount":0,"tags":[],"shared":[{"updatedAt":"2026-01-24T08:09:25.156Z","createdAt":"2026-01-24T08:09:25.156Z","role":"workflow:owner","workflowId":"ypWLasTJ8EuTWHkI","projectId":"C9hVGvL2eVLzJvBP","project":{"updatedAt":"2026-01-24T08:09:23.838Z","createdAt":"2026-01-24T08:09:23.838Z","id":"C9hVGvL2eVLzJvBP","name":"Unnamed Project","type":"personal","icon":null,"description":null,"creatorId":"03e10a21-f31b-4158-aaa8-490c06756f3e"}}]}]